.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: wheat;
  font: 700;
  height: 50px;
  text-align: center;
  padding: 70px 0;
}

.TrackItem {
  border: 2px solid #282c34;
  background-color: #00ffff4d;
}

button {
  background-color: #f54d28;
  padding: 5px;
  font-weight: 900;
  font-size: 15px;
  margin: 10px;
}

/* Search Bar */
.SearchBar {
  background-color: #2ddfff;
}

.SearchBar input {
  width: 90%;
  height: 30px;
  margin: 10px;
  background-color: antiquewhite;
}

/* Search Result */
.SearchResults {
  background-color: #f5f474;
  padding: 15px;
}

/* My Playlist */
.Playlist {
  background-color: #e33cc7;
  padding: 15px;
}
.Playlist input {
  background-color: antiquewhite;
  margin-bottom: 10px;
}

#successful_message {
  color: #f54d28;
  font-style: italic;
  font-weight: 700;
}
