.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  font: 100;
}

.Playlist {
  background-color: #E33CC7;
}

.SearchBar {
  background-color: #2DDFFF;
}

.SearchResults {
  background-color: #F5F474;
}

.Track {
  background-color: #FFAA47;
}

.Tracklist {
  background-color: #F54D28;
}



